In [23]:
#importing libs used in the program
from selenium import webdriver 
import time
import pandas as pd

In [24]:
#using selenium webdriver to access the site
driver = webdriver.Chrome()
driver.get("https://algoexplorer.io/address/25S2YKMG2E3L5RTFI67NTSWFJJQHBTDULAIN7TQVXWB3E4E5Y6BPG3O44I")

In [25]:
#creating an empty lists to store the values
Amount= []
From = []

In [26]:
#to confirm the list is empty
len(From), len(Amount)

(0, 0)

In [27]:
button = driver.find_element_by_xpath('//button[@data-cy = "next"]') #creating a button variable using the x_path
total_page = driver.find_element_by_xpath('//div[@data-cy="pagination"]') #Getting the total number of transaction pages 
total_page = total_page.text.replace("of","") #cleaning the data
num_of_page =int(total_page) - 1 #converting the string to an integer

In [28]:
num = 0
while num <= num_of_page:
    try: #The try and except block is used to avoid a scenerio where an error is produced when the program reaches the last transaction page and tries to click the button again 
        button.click() #this enables the clicking of the button
        prices = driver.find_elements_by_xpath('//tbody/tr/td[4]') #uses the x_path to find all the elements in the Amount column
        for price in prices: 
            Amount.append(price.text) #append the elements into a list with the aid of the for-loop
        prices1 = driver.find_elements_by_xpath('//tbody/tr/td[5]')#uses the x_path to find all the elements in the From column
        for price in prices1:
            From.append(price.text)   #appends the elements into a list with the aid of the for-loop
    except:
        print("The button is no longer clickable")
    num += 1 #increments the num variable
    time.sleep(5)#slows down the while-loop to ensure the program executes properly

In [21]:
dataset = pd.DataFrame({'Amount': Amount, "From": From}) #creating a dataset/dataframe with pandas which contains the values obtained
dataset.to_csv("Algo-choice_blockexplorer_data",index=False) #converting the dataframe to a csv file

In [22]:
dataset

                   Amount                                               From
0    29,778,841.42 Choice  25S2YKMG2E3L5RTFI67NTSWFJJQHBTDULAIN7TQVXWB3E4...
1                     3.4  25S2YKMG2E3L5RTFI67NTSWFJJQHBTDULAIN7TQVXWB3E4...
2        11,124.41 Choice  5EAV5ZEWQ33XZ25STXG7OL4IMHONBBBSPX5BVU3DA55OWO...
3           23,591 Choice  GY43SCKR4OUOCNZBGZYLY3IO23QGNOTGOOGI444NRAWDJK...
4           10,000 Choice  RFBSX5P6NQHPAEJ22IN3SHBJ4W5EVDX52VX4VBLHQUVMD5...
..                    ...                                                ...
289              1 Choice  RYL7PTWXMSJBTNDGIYMKEHVQSZEO234NA7ODGEDRPNBKSE...
290              2 Choice  IZIRBJJM3ZAW63AIGINNAPGUX542ZGZVJVHLSIRP2QBAKP...
291              1 Choice  PDVF7BKP7DQDGLDSC3OTW6GM34ZSA7HTOC5WSUGM72MBZF...
292              0 Choice  25S2YKMG2E3L5RTFI67NTSWFJJQHBTDULAIN7TQVXWB3E4...
293                     4  3XOQCAIHLQQMTIX5QZGGVRX52DC6ARDKZJOMLF7SSCYLP3...

[294 rows x 2 columns]